{% extends "base_generic.html" %}

{% block content %}
        <div class="row">
            <div class="col-md-4 qcol-info">
               <div class="qcol-info_line info_line_hover1"></div>
                    <p><span> Qvinciy </span>- это рейтинг людей по всему миру, зависящий от цены купленного места</p>
               <div class="qcol-info_line info_line_hover2"></div>
            </div>
            <div class="col-md-4 qcol-autho">
                <h2 class="reg_h2">Регистрация</h2>
                <form action="/catalog/login/" method="post" class="form_autho">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!--input type="text"
                           name="username"
                           maxlength="150"
                           autocapitalize="none"
                           autocomplete="username"
                           autofocus required
                           id="id_username"
                           placeholder="Логин">

                    <input type="password"
                           name="password1"
                           autocomplete="new-password"
                           required id="id_password1"
                           placeholder="Пароль">

                    <input type="password"
                           name="password2"
                           autocomplete="new-password"
                           required id="id_password2"
                           class="reg_input hidden"
                           placeholder="Повторить пароль"-->

                    <button type="submit">Войти</button>
                </form>
                <div>
                    <div class="registration_btn reg_btn">Регистрация</div>
                    <div class="qcol-info_line info_line_hover2"></div>
                    <a href="#" class="later_password">Забыл пароль</a>
                </div>
            </div>
            <div class="col-md-4 qcol-info">
                <div class="qcol-info_line info_line_hover1"></div>
                    <p> В свою очередь, место - это показатель того, насколько Вы признаны в рейтинге за счет своих денежных средств среди остальных участников</p>
                <div class="qcol-info_line info_line_hover2"></div>
            </div>
        </div>
{% endblock %}